/* General */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
h1{
    padding-top: 30px;
    font-weight: 700;
    font-size: 2.8rem;
    color: #2E3F4F
}
h3{
    font-size: 1.9rem;
    color: #2E3F4F
}

h4{
    padding: 5px 0;
    font-size: 1.4rem;
    color: #2E3F4F
}
p {
    padding: 10px 0;
    font-weight: 400;
    color: #2E3F4F;
}

.small-size{
    font-size: 0.7rem;
}

.background-white{
    margin: 35px 0 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #ebebeb;
    background-color: white;
    text-align: center;
}
.background-gray,
.background-gray-main{
    background-color: #F6F8FA;
}

.background-gray-main{
    padding-bottom: 40px;
} 
#border-gray{
    border-bottom: 1px solid #2E3F4F;

}

.background-green-gradient{
    background-image: linear-gradient(45deg, #00a4bd,#00bda5);
   
}
.content-color-white {
    color: white;

}
.page-container-width{
    width: 80%;
    margin: 0 auto;
}


.float-right{
    float:right;
}
.float-left{
    float:left;
}
.clearfix::after {
    content:"";
    display: table;
    clear:both;
}

.w-25{
    width: 25%;
    text-align: center;
    padding: 30px 0;

}

.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
    padding: 30px;
}
.w-70{
    width: 60%;
    padding: 60px 0;
    text-align: left;

}


/* Buttons */
.btn {
    border:1px solid #FF7A59;
    border-radius: 3px;
    padding: 5px;
}
.btn a {
    text-decoration: none;
}

#btn-white{
    background-color: white;
    margin: 0 10px;
}
#btn-white a{
    color: #FF7A59;
}

.btn-orange{
    background-color: #FF7A59;
}
.btn-orange a{
    color: white;
}

.btn-big{
    width:140px;
    padding: 15px;
    margin: 30px 0;
}

/* Header */
.log-in{
    /* position: fixed; */
    line-height: 40px;
}
.log-in-left,
.log-in-right {
    vertical-align: middle;
    padding: 5px 0;
}
.language{
    padding-right: 30px;
    border-right: 2px solid #2E3F4F;
}
.fa-search{
    color: #11a5bd;
}

/* Navigation Menu */
nav{
    line-height: 60px;
}

.logo{
    vertical-align: middle;
    width: 100px;
}
.main-menu{
    list-style: none;
    vertical-align: middle;
}
.main-menu li {
    display: inline-block;  
}
.main-menu a {
    padding-left: 20px;
    text-decoration: none;
    color:  #2E3F4F; 
}
.main-menu a:hover{
    color: #11a5bd;
}

/* Jambotron */

.jambotron {
    position: relative;
    height: 580px;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #2E3F4F;
}

/* .jambotron:after{
    content: " ";
    display: block;
    width: 40px;
    height: 2px;
    background-color: rgb(199, 199, 199);
    margin: 20px auto 0;
} */

.jambotron-text-box{
    width: 50%;
}

/* hr{
    height: 60px;
    border-top: 2px solid #2E3F4F;
    border-bottom: 2px solid #2E3F4F;
    background-color: #a7e9e1;
} */

/* Main message */
.main-message {
    text-align: center;
    padding: 50px 100px 0;
}
.main-message img{
    height: 180px;
}

/* Free offer */

.img-small {
    height: 120px;
}

.paragraph-with-parallel-line{
    position:relative;
}
.text-uppercase,
.text-uppercase-paid {
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0 15px 0;
}
.text-uppercase:after {
    width: 70%;
    position: absolute;
    content:"";
    border-top: 1px solid #2E3F4F;
    top: 49%;
    margin-left: 20px;
} 

.clear-both{
    clear:both;
}

#popolar-feature-free li{
    display: inline-block; 
}
.popolar-feature li {
    display: block;
    margin-right: 20px;
    text-decoration: none;
    color:  #2E3F4F; 
    line-height: 15px;
    text-align: left;
}

.popolar-feature li::before{
    content: "\2713";
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height:15px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #FF7A59;
    color: white;
    text-align: center;
}

/* Paid offer */
.col-middle {
    margin-left:5%;
    margin-right:5%;
}

.text-uppercase-paid::before{
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2E3F4F;
    margin: 20px auto;
}

/* Data Section */
.table-data{
    padding: 50px 0;
}
.table-border-bottom {
    border-bottom: 1px solid white;
}
.table-border-right {
    border-right: 1px solid white;
}

/* Customers section */
.page-sub-container-width {
    width: 90%;
    margin: 0 auto;
}

.container-logo{
    margin-left:10%;
}
.logo-customer{
    line-height: 50px;
}

.logo-customer img {
    display: inline-block;
    width: 20%;
    margin-left: 4%;
    vertical-align: middle;
    text-align:right;
}
.get-started-message {
    padding: 40px 0;
}

.text-alligned-right{
    text-align: right;
}
.text-alligned-right img{
    width: 60%;
}






